body
{
    background: yellow;
    color: blue;
}

li.plant
{
    color: red;
}

li.animal
{
    color: green;
}

#favourite
{
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
    font-style: italic;
}
